<app-navbar></app-navbar>

<br>
<br>
<div class="container"
  style="margin-top: 5px;">
  <div class="row"
    style="margin-bottom: 30px;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <mat-card [class.mat-elevation-z8]="true">
        <div class="row">
          <div class="col-lg-12"
            style="text-align: center;margin-top:5px;">
            <h1 style="font-weight: bold;font-family:monospace;">{{label}}</h1>
          </div>
          <div class="col-lg-12"
            style="margin-top: 10px;">
            <form #myform="ngForm"
              class="row">
              <div class="col-lg-10 offset-lg-1">
                <mat-form-field style="width: 100%;"
                  appearance="legacy">
                  <mat-label>Role</mat-label>
                  <input required
                    name="role"
                    ngModel
                    [(ngModel)]="tenderobj.role"
                    matInput
                    placeholder="Enter Role">

                </mat-form-field>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <mat-form-field class="example-full-width">
                  <mat-label>Interview Start Date</mat-label>
                  <input matInput
                    [matDatepicker]="picker"
                    name="interviewStartDate"
                    [(ngModel)]="interviewStartDate"
                    ngModel>
                  <mat-datepicker-toggle matSuffix
                    [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi
                    #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-5">
                <mat-form-field class="example-full-width">
                  <mat-label>Interview End Date</mat-label>
                  <input matInput
                    [matDatepicker]="picker1"
                    name="interviewEndDate"
                    [(ngModel)]="interviewEndDate"
                    ngModel>
                  <mat-datepicker-toggle matSuffix
                    [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker touchUi
                    #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <nz-time-picker name="interviewStartTiming"  [(ngModel)]="interviewStartTiming"  nzPlaceHolder style="border: 2px solid #86929c !important;width:100%;" [nzUse12Hours]="true" nzFormat="h:mm a"></nz-time-picker>
              </div>
              <div class="col-lg-5">
                <nz-time-picker name="interviewEndTiming" [(ngModel)]="interviewEndTiming" nzPlaceHolder style="border: 2px solid #86929c !important;width:100%;" [nzUse12Hours]="true" nzFormat="h:mm a"></nz-time-picker>
              </div>



              <div class="col-lg-5 offset-lg-1">

                <mat-form-field style="width:100%">
                  <mat-label>Choose a Country</mat-label>
                  <mat-select (selectionChange)="countryChange($event)"
                    required
                    ngModel
                    [(ngModel)]="tenderobj.country"
                    name="country">
                    <mat-option *ngFor="let c of countries" [value]="c" >
                      {{c.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-lg-5">
                <mat-form-field style="width:100%">
                  <mat-label>Choose a Province/State</mat-label>
                  <mat-select (selectionChange)="provinceChange($event)"
                    required
                    ngModel
                    [(ngModel)]="tenderobj.province"
                    name="province">
                    <mat-option *ngFor="let p of provinces"  [value]="p">
                      {{p.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <mat-form-field style="width:100%">
                  <mat-label>Choose a City</mat-label>
                  <mat-select required
                    ngModel
                    [(ngModel)]="tenderobj.city"
                    name="city">
                    <mat-option 
                    *ngFor="let c of cities" [value]="c">
                    {{c.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-5">

                <mat-form-field style="width:100%">
                  <mat-label>Job Type</mat-label>
                  <mat-select required
                    ngModel
                    [(ngModel)]="tenderobj.type"
                    name="type">
                    <mat-option 
                    *ngFor="let t of jobTypes" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
              <div class="col-lg-10 offset-lg-1">
                <div class="row"
                  style="margin-top:15px;">
                  <div class="col-lg-8">
                    <mat-form-field style="width:100%">
                      <mat-label>Choose Category</mat-label>
                      <mat-select required
                        ngModel
                        [(ngModel)]="tenderobj.category"
                        name="category">
                        <mat-option 
                        *ngFor="let f of fields" [value]="f.value">
                        {{f.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field style="width:100%">
                      <mat-label>Choose Salary Range</mat-label>
                      <mat-select required
                        ngModel
                        [(ngModel)]="tenderobj.salary"
                        name="salary">
                        <mat-option 
                        *ngFor="let s of salaryRange"
                        [value]="s">
                        {{s}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-lg-10 offset-lg-1">
                <mat-form-field style="width: 100%;"
                  appearance="legacy">
                  <mat-label>Job Address</mat-label>
                  <input required
                    name="address"
                    class="searchaddress"
                    matInput
                    ngModel
                    [(ngModel)]="tenderobj.address"
                    placeholder="Search">



                </mat-form-field>
              </div>

              <div class="col-lg-10 offset-lg-1">
                <mat-form-field style="width: 100%;margin-top: 15px;"
                  appearance="legacy">
                  <mat-label>Description</mat-label>
                  <textarea required
                    name="description"
                    ngModel
                    [(ngModel)]="tenderobj.description"
                    matInput
                    style="height:65px"
                    placeholder="Enter tender description">
                </textarea>

                </mat-form-field>
              </div>

              
            <!-- <div class="col-lg-10 offset-lg-1"> 
            <mat-radio-group aria-label="Select tender type"
            name="tenderType"
            ngModel>
              <div class="row">
                <div class="col-lg-4 offset-lg-2">
                <mat-radio-button value="public">Public Tender</mat-radio-button>
                </div>
                <div class="col-lg-4 offset-lg-2">
                <mat-radio-button value="private">Private Tender</mat-radio-button>
                </div>
              </div>
              </mat-radio-group>
              </div> -->

              
                  




              <!-- <div class="col-lg-4"
            style="text-align: center;margin-top:5px;">
           
          </div> -->



            </form>
          </div>
        </div>

        <!-- <div class="col-lg-10 offset-lg-1">

          <p>Job Location:</p>

          <mat-card [class.mat-elevation-z3]="true">

            <div style="position: relative;">
              <mat-icon matPrefix
                style="position: absolute;
                z-index: 4000;
                font-size: 22px;
                left: 22%;
                top: 18px;
                color: rgb(121, 118, 118);">search</mat-icon>
              <input required
                [class.mat-elevation-z4]="true"
                name="location"
                class="search"
                matInput
                placeholder="Search"
                #search>
              <agm-map style="height:450px;"
                [latitude]="jobObj.latitude"
                [longitude]="jobObj.longitude"
                [zoom]="zoom"
                [fullscreenControl]="true">
                <agm-marker [latitude]="jobObj.latitude"
                  [longitude]="jobObj.longitude">
                </agm-marker>
              </agm-map>

            </div>

          </mat-card>
        </div> -->
        <br>
        <div class="row"
          *ngIf="false">
          <div class="col-lg-4 offset-lg-2">

            <mat-checkbox 
              ><b>Public post</b>
            </mat-checkbox>
          </div>
          <div class="col-lg-4 offset-lg-2">
            <mat-checkbox 
              ><b>Confidential post</b>
            </mat-checkbox>

          </div>
        </div>
        <div class="col-lg-10 offset-lg-1"
          style="margin-top:10px;">
          <button [disabled]="myform.invalid"
            type="submit"
            (click)="submittender(myform.value);myform.reset()"
            style="width: 100%;"
            mat-raised-button
            color="primary">Post
            Tender</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<br>
<br>
<br>

<!-- Fooorter -->

<div class="footer"
  style="  height: 50px;
  margin-top: -50px;">
  <app-footer>

  </app-footer>
</div>

