<router-outlet></router-outlet>
<div class="bg-img">

  <form action="/action_page.php"
    
    class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2"
        style="margin-top: 5px">
        <img src="../../assets/1622452.png"
          height="43"
          width="170"
          style="padding:inherit" />
      </div>
    </div>
    <br>
    <div style="margin-left: 12%;">
      Register yourself <a style="color: steelblue;"
        (click)="routeToRegister()">Register now.</a>
    </div>
    <br>

    <label for="email"><b>Email</b></label>
    <input type="text"
      #email
      placeholder="Enter Email"
      name="email"
      required>

    <label for="psw"><b>Password</b></label>
    <input type="password"
      #password
      placeholder="Enter Password"
      name="psw"
      required>
    <br>
    <br>
    <!-- <button type="submit" class="btn">Login</button> -->
    <button type="submit"
      mat-stroked-button
      style="color: whitesmoke; background-color: black;font-weight: lighter;margin-left: 5%;"
      (click)="check(email.value, password.value)">
      <span *ngIf="status"
        class="spinner-border spinner-border-sm"></span>

      <b>Login</b>
    </button>
    <button type="submit"
      mat-stroked-button
      style="color: whitesmoke; background-color: black;font-weight: lighter;margin-left: 2%;"
      (click)="routeToRegister()">
      <b>Register</b>
    </button>

  </form>
</div>



<ngx-spinner bdOpacity=1
  bdColor="rgba(200, 216, 215, 0.25)"
  size="medium"
  color="rgba(12,11,11,0.85)"
  type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p style="color: white">Loading..</p>
</ngx-spinner>
