<app-navbar></app-navbar>



<!-- //INVITATION MODAL -->

<div class="container-fluid" style="padding:0px;">
    <div class="row">
        <div class="col-lg-8" style="border-radius: 0px;height:450px;padding: 0px;">
            <div style="position: relative;">
                <mat-icon matPrefix style="    position: absolute;
            z-index: 2;
            font-size: 22px;
            left: 26%;
            top: 39px;
            color: rgb(121, 118, 118);;">search</mat-icon>
                <input style="outline: none;top: 30px;
            border: none;
            position: absolute;
            margin-left: 25%;
            width: 50%;
            z-index: 1;
            height: 40px;
            border-radius: 40px;
            text-indent: 41px;
            background-color: white;" required [class.mat-elevation-z4]="true" name="location" class="search" matInput
                    #search placeholder="Search">

                <agm-map style="height:560px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                    [fullscreenControl]="true">
                    <agm-marker [latitude]="latitude" [longitude]="longitude">

                    </agm-marker>
                </agm-map>
            </div>

        </div>
        <div class="col-lg-4" style="padding: 0px 5px 0px 5px;">
            <div class="row">
                <div class="col-lg-12">
                  



                    <mat-card [class.mat-elevation-z5]="true">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;">
                                <h1 style="font-weight: bold;font-family:monospace;">Invitation Info</h1>
                            </div>
                            <div class="col-lg-12" >
                                <form #myForm="ngForm" (ngSubmit)="sendInvite(myForm.value)" class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>Address Line 1</mat-label>
                                            <input required name="address1" ngModel matInput
                                                placeholder="address line 1">

                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-10 offset-lg-1">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>Address Line 2</mat-label>
                                            <input   name="address2" ngModel matInput
                                                placeholder="address line 2">

                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-10 offset-lg-1">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>City / Town</mat-label>
                                            <input required  name="city" ngModel matInput
                                                placeholder="city">

                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-10 offset-lg-1">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>State / Province / Region</mat-label>
                                            <input required  name="province" ngModel matInput
                                                placeholder="state / province / region">

                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-10 offset-lg-1">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>Zip / Postal Code</mat-label>
                                            <input  name="postalCode" ngModel matInput
                                                placeholder="zip or postal code">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-10 offset-lg-1">

                                        <mat-form-field style="width:100%">
                                            <mat-label>Choose a Country</mat-label>
                                            <mat-select  required ngModel
                                                name="country">
                                                <mat-option *ngFor="let c of countries" [value]="c">
                                                    {{c}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                 
                                   






                                        <div class="col-lg-10 offset-lg-1">
                                            <mat-form-field style="width: 100%;" appearance="legacy">
                                                <mat-label>Comment</mat-label>
                                                <textarea rows="15" required name="comment" ngModel matInput
                                                    style="height:65px" placeholder="Enter your comment">
                                                </textarea>

                                            </mat-form-field>
                                        </div>
                                 

                                        <div class="col-lg-10 offset-lg-1" style="margin-top:10px;">
                                            <button type="submit" [disabled]="myForm.invalid" 
                                                style="width: 80%;margin-top:10px;margin-left: 10%;background-color: black;color: white;">Send
                                                Invite</button>
                                        </div>
                                </form>
                            </div>
                        </div>


                       

                       
                    </mat-card>
                </div>
            </div>

        </div>

    </div>

</div>







<!-- //INVITATION MODAL END -->