<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a href="#" class="navbar-brand">Job Portal</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">



                <a href="#" class="nav-item nav-link active" [routerLink]="['/candidateProfile']">MyProfile</a>


                <a href="#" class="nav-item nav-link active active-link-page"
                    [routerLink]="['/allJobs']">{{'AllJobs'}}</a>

            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link" data-toggle="dropdown"><img style="color:white"
                        class="logoutImage" src="../../assets/logout.png" alt=""></a>
            </div>
        </div>
    </nav>


    <br>
    <br>


    <!-- NAVBAR ENDS -->


    <div class="container">
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-10">
                <mat-card style="border-radius:0px;padding:20px">

                    <nz-avatar [class.mat-elevation-z2]="true" style="margin:20px 20px 0px 20px" nzIcon="user"
                        [nzShape]="'square'" [nzSize]="100"
                        nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>


                    <hr />

                    <h3 style="margin-left:10px;font-weight:600;display: inline;">ABCD Privated Limited </h3>
                    <nz-rate style="margin-left: 15px;" [ngModel]="3"></nz-rate>
                    <div class="container" style="border:1px solid rgb(218, 218, 218);height:150px">

                    </div>
                </mat-card>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-10">
                <mat-card style="border-radius:0px;padding:20px;margin:20px 0px 20px 0px;">

                    <div>
                        <nz-avatar style="float: left;bottom:20px;" nzIcon="user" [nzSize]="64"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">

                            Ibrahim Shah
                            <br>
                            <nz-rate style="vertical-align: bottom" [ngModel]="3"></nz-rate>
                        </p>
                        <p style="font-style: italic;margin-left: 60px;color: rgb(153, 152, 152);">Ibrahim Is the best
                            candidate to complete any Frontside Web Programming task! Perfect smooth experience
                            communicating and really quickly executing on the tasks at hand! If I had any problems
                            creating anything in the web design web programing field I would defiantly first refer to
                            Ibrahim for his help and support to execute and get done with the finished product. We spend
                            a good 30 min fixing a problem and it got done in a matter of minutes. 100% recommend
                            Ibrahim as your Freelancer and programmer, the perfect candidate to getting the job done!
                        </p>
                        <p style="margin-left: 60px;opacity:0.7;font-size: 12px !important;">3 days ago</p>
                    </div>
                    <hr />
                    <div>
                        <nz-avatar style="float: left;bottom:20px;" nzIcon="user" [nzSize]="64"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">

                            Ibrahim Shah
                            <br>
                            <nz-rate style="vertical-align: bottom" [ngModel]="1"></nz-rate>
                        </p>
                        <p style="font-style: italic;margin-left: 60px;color: rgb(153, 152, 152);">Ibrahim Is the best
                            candidate to complete any Frontside Web Programming task! Perfect smooth experience
                            communicating and really quickly executing on the tasks at hand! If I had any problems
                            creating anything in the web design web programing field I would defiantly first refer to
                            Ibrahim for his help and support to execute and get done with the finished product. We spend
                            a good 30 min fixing a problem and it got done in a matter of minutes. 100% recommend
                            Ibrahim as your Freelancer and programmer, the perfect candidate to getting the job done!
                        </p>
                        <p style="margin-left: 60px;opacity:0.7;font-size: 12px !important;">3 days ago</p>
                    </div>
                    <hr />

                    <div>
                        <nz-avatar style="float: left;bottom:20px;" nzIcon="user" [nzSize]="64"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">

                            Ibrahim Shah
                            <br>
                            <nz-rate style="vertical-align: bottom" [ngModel]="1"></nz-rate>
                        </p>
                        <p style="font-style: italic;margin-left: 60px;color: rgb(153, 152, 152);">Ibrahim Is the best
                            candidate to complete any Frontside Web Programming task! Perfect smooth experience
                            communicating and really quickly executing on the tasks at hand! If I had any problems
                            creating anything in the web design web programing field I would defiantly first refer to
                            Ibrahim for his help and support to execute and get done with the finished product. We spend
                            a good 30 min fixing a problem and it got done in a matter of minutes. 100% recommend
                            Ibrahim as your Freelancer and programmer, the perfect candidate to getting the job done!
                        </p>
                        <p style="margin-left: 60px;opacity:0.7;font-size: 12px !important;">3 days ago</p>
                    </div>
                    <hr />
                    <div>
                        <nz-avatar style="float: left;bottom:20px;" nzIcon="user" [nzSize]="64"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">

                            Ibrahim Shah
                            <br>
                            <nz-rate style="vertical-align: bottom" [ngModel]="4"></nz-rate>
                        </p>
                        <p style="font-style: italic;margin-left: 60px;color: rgb(153, 152, 152);">Ibrahim Is the best
                            candidate to complete any Frontside Web Programming task! Perfect smooth experience
                            communicating and really quickly executing on the tasks at hand! If I had any problems
                            creating anything in the web design web programing field I would defiantly first refer to
                            Ibrahim for his help and support to execute and get done with the finished product. We spend
                            a good 30 min fixing a problem and it got done in a matter of minutes. 100% recommend
                            Ibrahim as your Freelancer and programmer, the perfect candidate to getting the job done!
                        </p>
                        <p style="margin-left: 60px;opacity:0.7;font-size: 12px !important;">3 days ago</p>
                    </div>
                    <hr />

                    <div>
                        <nz-avatar style="float: left;bottom:20px;" nzIcon="user" [nzSize]="64"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">

                            Ibrahim Shah
                            <br>
                            <nz-rate style="vertical-align: bottom" [ngModel]="3"></nz-rate>
                        </p>
                        <p style="font-style: italic;margin-left: 60px;color: rgb(153, 152, 152);">Ibrahim Is the best
                            candidate to complete any Frontside Web Programming task! Perfect smooth experience
                            communicating and really quickly executing on the tasks at hand! If I had any problems
                            creating anything in the web design web programing field I would defiantly first refer to
                            Ibrahim for his help and support to execute and get done with the finished product. We spend
                            a good 30 min fixing a problem and it got done in a matter of minutes. 100% recommend
                            Ibrahim as your Freelancer and programmer, the perfect candidate to getting the job done!
                        </p>
                        <p style="margin-left: 60px;opacity:0.7;font-size: 12px !important;">3 days ago</p>
                    </div>
                    <hr />



                </mat-card>
            </div>
        </div>
    </div>