<app-navbar></app-navbar>

<br>
<br>




<div class="container">
  <div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
      <mat-card style="border-radius:0px;padding:20px">

        <nz-avatar [class.mat-elevation-z2]="true"
          style="margin:20px 20px 0px 20px"
          nzIcon="user"
          [nzShape]="'square'"
          [nzSize]="100"
          [nzSrc]="companyProfile.logo!=null?'data:image/jpeg;base64,'+companyProfile.logo:'../../assets/user.png'"></nz-avatar>


        <hr />

        <h3 style="display: inline;">{{companyProfile.name | uppercase }}<sub>LTD</sub> </h3>
        <nz-rate style="margin-left: 15px;"
          [disabled]="true"
          [ngModel]="avgRating"
          [nzTooltips]="tooltips"></nz-rate>
        <div class="container"
          style="border:1px solid rgb(218, 218, 218);padding:0px;text-align: center;">
          <div style="display: flex;justify-content: center;align-items: center;margin-top:10px;">

            <h4 style="flex: 1;color: rgb(0, 0, 0);">Contact Name: <span
                style="color: gray;font-weight: normal;">
                {{companyProfile.contactName}}</span></h4>

            <h4 style="flex: 1;color: black">Contact Title: <span
                style="color: gray;font-weight: normal;">
                {{companyProfile.contactTitle}} </span></h4>



          </div>
          <div style="display: flex;justify-content: center;align-items: center;">
            <h4 style="flex: 1;color: black;">Corporate Address: <span
                style="color: gray;font-weight: normal;">
                {{companyProfile.corporateAddress}} </span></h4>

            <h4 style="flex: 1;color: black;">Billing Address: <span
                style="color: gray;font-weight: normal;">
                {{companyProfile.billingAddress}} </span></h4>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <mat-card style="border-radius:0px;padding:20px;margin:20px 0px 20px 0px;">

        <h3 class="text-center font-weight-bold">Comments <span class="badge pink">{{comments}}</span></h3>

        <div *ngFor="let candidate of companyReviewRating">
          <nz-avatar style="float: left"
            nzIcon="user"
            [nzSize]="64"
            [nzSrc]="candidate.dp!=null?'data:image/jpeg;base64,'+candidate.dp:'../../assets/user.png'"></nz-avatar>
          <p style="vertical-align:bottom;font-weight: 600;margin-top: 35px;">
            {{candidate.name}}
            <br>
            <nz-rate style="vertical-align: bottom"
              [disabled]="true"
              [ngModel]="candidate.rating"
              [nzTooltips]="tooltips"></nz-rate>
          </p>
          <p style="margin-left: 60px;color: rgb(153, 152, 152);overflow-wrap: break-word;">
            {{candidate.review}}
          </p>
          <p style="margin-left: 9%;opacity:0.7;font-size: 12px !important;">
            {{candidate.date | myPipe}}</p>
          <hr />
        </div>





      </mat-card>
    </div>
  </div>
</div>
<br>

<app-footer></app-footer>