p{
    font-size: 13px;
    margin-left:79px !important;
}

.pagebody{
  min-height: 100%;
}

h4{
    font-size: 1.05rem !important;
}
nz-avatar {
    margin-right: 16px;
}

sub{
    font-size: 9px;
}

.reviewHeader{
  background-color:rgba(0, 0, 0, 0.33) !important;
}

@media only all and (max-width: 47.9375em) {
  .ratingSectionSpan {
    margin-top: -3px;
  }
}
.badge-info {
  font-size:10px;
  /* color:black !important; */
  /* background-color: yellow !important; */
}

.modal-title {
  color: white;
}

.modal-header {
  background-color: black !important;
  color: white !important;
}



.btn,
.fileButton {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 13px;
}

