<app-navbar></app-navbar>

<br>
<br>


<div class="pagebody">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-1">
    </div> -->
      <div class="col-lg-12">
        <mat-card style="border-radius:0px;padding:20px">

          <div class="row">
            <nz-avatar [class.mat-elevation-z2]="true" style="margin:20px 20px 0px 20px" nzIcon="user"
              [nzShape]="'square'" [nzSize]="100"
              [nzSrc]="companyProfile.logo!=null?'data:image/jpeg;base64,'+companyProfile.logo:'../../assets/user.png'">
            </nz-avatar>

            <div *ngIf="friendShipStatus!='same'" style="position: relative;" class="col">

              <div [ngSwitch]="friendShipStatus">
                <button *ngSwitchCase="'notFriends'" (click)="addFriend()" style="position: absolute;
              bottom: 0px;
              right: 5%;
              width: 110px;
              background-color: black;
              color: white;
              height: 29px;">Add Friend</button>

                <button *ngSwitchCase="'pending'" nz-button nz-dropdown [nzDropdownMenu]="pending"
                  [nzPlacement]="'bottomCenter'" style="position: absolute;
              bottom: 0px;
              right: 5%;
              height: 31px;
               background-color: black;
              color: white ">Pending Request</button>

                <nz-dropdown-menu #pending="nzDropdownMenu">
                  <ul style="background-color: black;" nz-menu>
                    <li style=" background-color: black;
                  color: white" (click)="cancelRequest()" nz-menu-item>Cancel Request</li>
                  </ul>
                </nz-dropdown-menu>

                <button *ngSwitchCase="'accepted'" nz-button nz-dropdown [nzDropdownMenu]="friends"
                  [nzPlacement]="'bottomCenter'" [disabled]="true" style="position: absolute;
                bottom: 0px;
                right: 5%;
                height: 29px;
                background-color: black;
              color: white
              ">Friends <i nz-icon nzType="check" style="    vertical-align: text-top" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #friends="nzDropdownMenu">
                  <ul style="background-color: black;" nz-menu>
                    <li style=" background-color: black;
                  color: white" (click)="cancelRequest()" nz-menu-item>Unfriend</li>
                  </ul>
                </nz-dropdown-menu>

                <button *ngSwitchCase="'approval'" nz-button nz-dropdown [nzDropdownMenu]="approval"
                  [nzPlacement]="'bottomCenter'" (click)="acceptRequest()" [disabled]="true" style="position: absolute;
              bottom: 0px;
              right: 5%;
              height: 29px;
              background-color: black;
              color: white
            ">Accept Request
                </button>
                <nz-dropdown-menu #approval="nzDropdownMenu">
                  <ul style="background-color: black;" nz-menu>
                    <li style=" background-color: black;
                  color: white" (click)="cancelRequest()" nz-menu-item>Cancel Request</li>
                  </ul>
                </nz-dropdown-menu>


              </div>
            </div>
          </div>
          <hr />
          <div class="row" style="width:100%">
            <div class="col-lg-8">

              <h3 style="display: inline;">{{companyProfile.name | uppercase }} </h3>
            </div>

            <div class="col-lg-4">
              <span style="display:inline">
                <nz-rate [disabled]="true" [ngModel]="avgRating" [nzTooltips]="tooltips"></nz-rate>
                <small style="color:lightgray"> Rating ({{avgRating | number:'1.0-1'}}/5)</small>
              </span>
            </div>

          </div>





          <div class="container" *ngIf="userType=='recruiter';else notrecruiter"
            style="border:1px solid rgb(218, 218, 218);padding:0px;text-align: center;">
            <div style="display: flex;justify-content: center;align-items: center;margin-top:10px;">

              <h4 style="flex: 1;color: rgb(0, 0, 0);">Name: <span style="color: gray;font-weight: normal;">
                  {{companyProfile.contactName}}</span></h4>

              <!-- <h4 style="flex: 1;color: black">Contact Title: <span style="color: gray;font-weight: normal;">
                {{companyProfile.contactTitle}} </span></h4> -->

            </div>

            <div style="display: flex;justify-content: center;align-items: center;">
              <h4 style="flex: 1;color: black;">Corporate Address: <span style="color: gray;font-weight: normal;">
                  {{companyProfile.corporateAddress}} </span></h4>

              <h4 style="flex: 1;color: black;">Billing Address: <span style="color: gray;font-weight: normal;">
                  {{companyProfile.billingAddress}} </span></h4>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;">
              <button style="background-color:#123e87 !important;padding: 6px 30px;flex:1" class="btn btn-primary"
                (click)="showModal()">
                <i class="fa fa-eye" aria-hidden="true">View Resume</i>
              </button>
              <button style="background-color:#123e87 !important;padding: 6px 30px;flex:1" class="btn btn-primary"
                (click)="showModalCertificate()">
                <i class="fa fa-eye" aria-hidden="true">View Certificate</i>
              </button>
            </div>
          </div>
          <ng-template #notrecruiter>
            <div class="container" style="border:1px solid rgb(218, 218, 218);padding:0px;text-align: center;">
              <div style="display: flex;justify-content: center;align-items: center;margin-top:10px;">

                <h4 style="flex: 1;color: rgb(0, 0, 0);">Contact Name: <span style="color: gray;font-weight: normal;">
                    {{companyProfile.contactName}}</span></h4>

                <h4 style="flex: 1;color: black">Contact Title: <span style="color: gray;font-weight: normal;">
                    {{companyProfile.contactTitle}} </span></h4>

              </div>

              <div style="display: flex;justify-content: center;align-items: center;">
                <h4 style="flex: 1;color: black;">Corporate Address: <span style="color: gray;font-weight: normal;">
                    {{companyProfile.corporateAddress}} </span></h4>

                <h4 style="flex: 1;color: black;">Billing Address: <span style="color: gray;font-weight: normal;">
                    {{companyProfile.billingAddress}} </span></h4>
              </div>
            </div>
          </ng-template>
        </mat-card>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-1">
    </div> -->

      <div class="col-lg-12">
        <mat-card style="border-radius:0px;padding:20px;margin:20px 0px 20px 0px;">

          <h3 class="text-center font-weight-bold">Reviews</h3>

          <div class="row">
            <div class="col-lg-6">
              <button style="    width: 80%;
              margin-left: 10%;background-color: black;color: white;" (click)="textReviewTab=true">
                Written Reviews</button>
            </div>

            <div class="col-lg-6">
              <button style="    width: 80%;
              margin-left: 10%;background-color: black;color: white;" (click)="textReviewTab=false">Video
                Reviews</button>
            </div>
          </div>
          <!-- write your review here as an employee or recuiter -->
          <div class="row" *ngIf="userType=='candidate'" style="margin-top: 20px;">
            <div class="col-lg-12" *ngIf="!reviewBtn">
              <div id="review" class="card-header border-0 font-weight-bold reviewHeader">Leave a review
                <span style="float:right;text-align: center" class="ratingSectionSpan">

                  <p style="display: inline-block">Rate {{companyProfile?companyProfile.name:''}}</p>
                  &nbsp;
                  <nz-rate [(ngModel)]="rating" [nzTooltips]="tooltips"></nz-rate>


                </span>
              </div>


              <div *ngIf="textReviewTab">
                <div class="d-md-flex flex-md-fill px-1" style="width: 100%">
                  <div class="md-form w-100">
                    <textarea class="form-control md-textarea pt-0" id="exampleFormControlTextarea1" rows="3" #review
                      placeholder="Write something here..."></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button (click)="postReview(review.value)" class="btn btn-default btn-rounded btn-md"
                    style="background-color: black !important">Submit</button>
                </div>
              </div>

              <div *ngIf="!textReviewTab" style="margin-top: 20px;">
                <input (change)="videoReviewChanged($event)" type="file" accept="video/*">
                <div class="text-center">
                  <button [disabled]="!videoReviewFile" (click)="postVideoReview()"
                    class="btn btn-default btn-rounded btn-md" style="background-color: black !important">Submit video
                    review</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let candidate of companyReviewRating">
            <div *ngIf="textReviewTab && candidate.type=='text'" style="margin-top: 40px;">
              <div *ngIf="candidate.type=='text'">
                <div *ngIf="userType!='candidate'"
                  class="card-header border-0 font-weight-bold d-flex justify-content-between">

                  <ul style="margin-left: auto" class="list-unstyled list-inline mb-0">

                    <li class="list-inline-item"><a href="" style="color:#1890ff !important"
                        [routerLink]="['/viewprofile']"
                        [queryParams]="{'candId':candidate.candidateId,'userId':candidate.userId}"
                        class="text-default mr-3"><i class="fa fa-user mr-1"></i>See
                        profile</a></li>

                  </ul>

                </div>


                <div class="row" style="margin-top:6px !important">
                  <div class="col-lg-12">
                    <nz-avatar style="float: left" nzIcon="user" [nzSize]="64"
                      [nzSrc]="candidate.dp!=null?'data:image/jpeg;base64,'+candidate.dp:'../../assets/user.png'">
                    </nz-avatar>
                    <!-- //edit and delete review and rating -->
                    <div *ngIf=" !isReviewEdit && candidate.userId==userId" style="position: absolute;
                    right: 20px;
                    margin-top: 15px;">
                      <button class="btn btn-default btn-rounded btn-md"
                        style="background-color: black !important;padding:10px;width: 78px;"
                        (click)="isReviewEdit=true">edit</button>
                      <button class="btn btn-default btn-rounded btn-md"
                        style="background-color: black !important;padding:10px;width:78px"
                        (click)="deleteReview(candidate.id)">delete</button>
                    </div>

                    <p style="vertical-align:bottom;font-weight: 600;margin-top: 10px;">
                      {{candidate.name}}
                      <br>

                      <nz-rate *ngIf="!isReviewEdit || candidate.userId!=userId" style="vertical-align: bottom"
                        [disabled]="true" [ngModel]="candidate.rating" [nzTooltips]="tooltips"></nz-rate>

                    </p>

                    <p *ngIf="!isReviewEdit || candidate.userId!=userId"
                      style="margin-left: 60px;color: rgb(153, 152, 152);overflow-wrap: break-word;">
                      {{candidate.review}}
                    </p>

                    <div *ngIf="isReviewEdit && candidate.userId==userId" >
                      <nz-rate style="vertical-align: bottom" [(ngModel)]="rating" [nzTooltips]="tooltips"></nz-rate>
                      <textarea style="    width: 78%;
                      margin-left: 6%;" class="form-control md-textarea pt-0" id="exampleFormControlTextarea1"
                        [(ngModel)]="review" rows="3" placeholder="Write something here..."></textarea>
                        <div style="margin-left:6%;margin-top: 5px;">
                        <button style="  background-color: black;color: white;  margin-right: 5px;" (click)="updateReview(candidate.id)">update</button>
                        <button style="background-color: black;color: white;" (click)="isReviewEdit=false">cancel</button>
                      </div>
                    </div>
                    <p *ngIf="!isReviewEdit || candidate.userId!=userId" style="margin-left: 9%;opacity:0.7;font-size: 12px !important;">
                      {{candidate.date | myPipe}}</p>
                    <hr />
                  </div>
                </div>


              </div>


            </div>

            <!-- //video reviews -->

            <div *ngIf="!textReviewTab  && candidate.type=='video'" style="margin-top: 30px;">
              <div class="col-lg-12">
                <nz-avatar style="float: left;" nzIcon="user" [nzSize]="48"
                  [nzSrc]="candidate.dp!=null?'data:image/jpeg;base64,'+candidate.dp:'../../assets/user.png'">
                </nz-avatar>
                <!-- //edit and delete review and rating -->
                <div *ngIf="candidate.userId==userId" style="position: absolute;
                    right: 20px;
                    margin-top: 15px;">
                  <button class="btn btn-default btn-rounded btn-md"
                    style="background-color: black !important;padding:10px;width: 78px;">edit</button>
                  <button class="btn btn-default btn-rounded btn-md"
                    style="background-color: black !important;padding:10px;width:78px"
                    (click)="deleteReview(candidate.id)">delete</button>
                </div>

                <p style="vertical-align:bottom;font-weight: 600;margin-top: 10px;">
                  {{candidate.name}}
                  <br>
                  <nz-rate style="vertical-align: bottom;margin-left: -10px;" [disabled]="true"
                    [ngModel]="candidate.rating" [nzTooltips]="tooltips"></nz-rate>
                </p>
                <video style="border-radius: 30px;border-width: 0px;outline: none;position: relative;
                left: 55px;" width="300" controls>
                  <source [src]="candidate.videoUrl" type="video/mp4">Your browser does not support HTML5 video.
                </video>
              </div>
            </div>
          </div>





        </mat-card>
      </div>
    </div>




  </div>
  <br>

</div>





<!-- //MODAL -->
<nz-modal nzWidth="60%" [nzStyle]="{ top: '20px' }" [nzBodyStyle]="{'height':'95vh'}" style="overflow:hidden"
  [(nzVisible)]="isVisible" [nzFooter]="null" [nzClosable]="false" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <!-- <iframe  [src]="sanitizer.bypassSecurityTrustResourceUrl(cv)" width="100%" height="400" frameBorder="0"></iframe> -->
  <ngx-doc-viewer *ngIf="contentType!='doc'" [url]="value" [viewer]="contentType==='pdf' ? 'pdf' : 'mammoth'"
    [ngStyle]="contentType!='pdf'?{'width':'100%','height':'80vh','overflow':'scroll'}:{'width':'100%','height':'80vh'}">
  </ngx-doc-viewer>

  <div *ngIf="contentType=='doc'" style="height:200px;display: flex;justify-content: center;align-items: center;">
    <p>Preview not available</p>
  </div>
  <button (click)="downloadFile()" class="btn" style="width:45%;margin-left:5%;"><i class="fa fa-download"></i>
    Download</button>
  <button (click)="handleCancel()" class="btn" style="width:45%;"><i class="fa fa-times"></i> Cancel</button>
</nz-modal>

<br>









<ngx-spinner bdOpacity=1 bdColor="rgba(200, 216, 215, 0.25)" size="medium" color="rgba(12,11,11,0.85)"
  type="ball-clip-rotate-pulse" [fullScreen]="true">
  <p style="color: white">Loading..</p>
</ngx-spinner>

<br><br>


<div class="footer" style="  height: 50px;
  margin-top: -50px;">
  <app-footer>

  </app-footer>
</div>