.navbar {
    height: 65px !important;
}
h6{
    font-weight: bold;
    font-size: 1.12rem !important;
    /* padding-right: 16px;  */
    color: white;
    overflow-wrap: break-word;

    /* padding-top:10px */
}


/* small{
    margin-bottom: -0.301em !important;
} */
sub{
    bottom:-0.81em !important;
    color:white;
    margin:0px;
    font-size:10px;
    float:right;
}
.userInfo{
    padding-right: 16px;
}





nz-badge {
    margin-right: 40px;
    margin-top: 7px;
   
    
  }

  .head-example {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
  }

.notification-close-class{
    color: rgb(12, 12, 12) !important;
   
    font-size: 25px;
    margin:7px 10px 0px 6px;
}

.notification-open-class{
  
    color: white !important;
    font-size: 25px;
    margin:7px 10px 0px 6px;
}

.underLine:hover{
    text-decoration: underline;
    cursor: pointer;
}

.notificationItem:hover{
background-color: rgb(219, 217, 217) !important;
}


 .search-container {
  float: right;
}

 input[type=text] {
  padding: 6px;
  margin-top: 3px;
  font-size: 17px;
  border: none;
}

 .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 3px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

 .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
   .search-container {
    float: none;
  }

   
   input[type=text],
   .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

   input[type=text] {
    border: 1px solid #ccc;
  }
}