<app-navbar></app-navbar>

<agm-map style="height:450px;" [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">

  <agm-overlay *ngFor="let user of users;let i=index" [latitude]="user.location.latitude"
    [longitude]="user.location.longitude">
    <!-- blue html square -->
    <!-- <div style="height: 40px;width: 40px;border-radius:20px;"> -->
    <img [src]="user.id!=userId?'../../assets/blueIcon.png':'../../assets/redIcon.png'"
      (mouseover)="onMouseOver(infoWindow, $event)" (mouseout)="onMouseOut(infoWindow, $event)" alt="" [ngStyle]="user.id!=userId?{height: '40px',width:'40px',border: '4px solid blue',borderRadius:'20px'}:
      {height: '50px',width:'50px',border: '4px solid red',borderRadius:'25px'}">

    <!-- </div> -->


    <agm-info-window [disableAutoPan]="false" #infoWindow>
      <strong>{{user.name}}</strong>
    </agm-info-window>
  </agm-overlay>


</agm-map>



<div class="container-fluid" style="padding: 0px;">
  <mat-card style="width: 100%;">
    <div class="row" style="width: 100%;padding: 10px;">
      <div class="col-lg-6" style="display: flex;">

        <div *ngFor="let user of users;let i=index" style="flex:1;">

          <div *ngIf="user.id==userId">
            <img src="../../assets/redIcon.png" style="height: 50px;width: 50px;border-radius:25px;border:3px solid red" alt="">
            <span style="vertical-align: sub;
            font-size: 15px;
            margin-left: 6px;">{{user.name}}</span>
          </div>
          <div style="flex:1;" *ngIf="user.id!=userId">
            <img src="../../assets/blueIcon.png" style="height: 50px;width: 50px;border-radius:25px;border:3px solid blue" alt="">
            <span style="vertical-align: sub;
            font-size: 15px;
            margin-left: 6px;">{{user.name}}</span>
          </div>
        </div>

      </div>
      <div class="col-lg-3" style="margin-top: 10px;">
        <button (click)="completeMeeting()" style="background-color: black;color: white;width: 100%;text-align: center;height: 30px;">Complete Meeting</button>
      </div>
      <div class="col-lg-3" style="margin-top: 10px;">
        <button (click)="cancelMeeting()" style="background-color: black;color: white;width: 100%;text-align: center;height: 30px;">Cancel Meeting</button>
      </div>
    </div>
  </mat-card>
</div>