<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a href="#"
      class="navbar-brand">Job Portal</a>
    <button type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#"
          class="nav-item nav-link active"
          (click)="service.goBack()">Back</a>
        <a href="#"
          class="nav-item nav-link active"
          [routerLink]="['/companyProfile']">MyProfile</a>
        <a href="#"
          class="nav-item nav-link active"
          [routerLink]="['/allJobs']">MyJobs</a>

      </div>
      <div class="navbar-nav ml-auto">
        <a href="#"
          class="nav-item nav-link"
          data-toggle="dropdown"><img style="color:white"
            (click)="service.logout()"
            src="assets/icons8-logout-rounded-left-24.png"
            alt=""></a>
      </div>
    </div>
  </nav>


  <br>
  <br>

  <div class="container">
    <div id="myMap"></div>

  </div>
