  mat-select,
  mat-from-field {
    width: 100% !important;
  }


/* ._list{
    flex-direction : column;
} */

.md-tabs .nav-link.active{
    background-color:rgba(255, 255, 255, 0.24) !important;
}

.light-blue.darken-3{
    background-color:black !important;
}

.btn{
    background-color: black !important;
}

mat-select-value:focus + .fa-list{
    color: #4285f4 !important;
}


.dark-div{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 1000px;
    background: rgba(0, 0, 0, .6);
    padding: 18px 20px 20px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    
}


.mainPageButtons{
    background-color: #01779cf0 !important ;
}

a{
    font-size:medium;
    width:90% !important;
}


.bg-white{
  background: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
}


.animation{
    animation: 1s ease-in-out all!important;
}

.text-orange {
  color: #ff6803 !important;
  font-weight: 700 !important;
  font-size: 48px !important;
}

.font-grey {
  color: #818b95 !important;
}

.text-blue {
  color: #0e005a !important;
  font-weight: 700 !important;
  font-size: 48px !important;
}

.text-yellow {
  color: #eabc21 !important; 
  font-weight: 700 !important;
  font-size: 48px !important;
}

.text-green {
  color: #056e6d !important;
  font-weight: 700 !important;
  font-size: 48px !important; 
}