<router-outlet></router-outlet>
<div class="bg-img">

    <form #myForm="ngForm" (ngSubmit)="submit(password.value);myForm.reset()" class="container" style="height: 310px;">
        <div class="row">
            <div class="col-lg-10 offset-lg-2" style="margin-top: 5px">
                <img src="assets/1622452.png" height="43" width="170" style="padding:inherit" />
            </div>
        </div>
        <br>
        <div style="margin-left: 15%;">
            Remembered! <a style="color: steelblue;" (click)="routeToLogin()">Login Now.</a>
        </div>
        <br>

        <!-- <label for="email"><b>Please Enter your email to confirm your account.</b></label>
        <input type="text" #email placeholder=" Email" name="email" required ngModel> -->

        <label for="psw"><b>Enter your new password</b></label>
        <input type="password" #password placeholder="Enter Password" name="psw" style="margin-bottom: 0px;" required ngModel>
        <br>


        <!-- CAPTCHAAA -->
        `
        <!-- <re-captcha (resolved)="resolved($event)" [siteKey]="captchaKey"></re-captcha> -->
        <br>

        <!-- <button type="submit" class="btn">Login</button> -->
        <button type="submit" mat-stroked-button [disabled]="myForm.invalid" style="color: whitesmoke; background-color: black;font-weight: lighter;">
      <span *ngIf="status" class="spinner-border spinner-border-sm"></span>

      <b>Send</b>
    </button>
        <!-- <button type="click" mat-stroked-button style="color: whitesmoke; background-color: black;font-weight: lighter;margin-left: 2%;" (click)="routeToRegister()">
      <b>Register</b>
    </button> -->

        <!-- <a (click)="gotoforgotpasswordscreen()" style="color: black !important">Forgotten Password? </a> -->

    </form>
</div>



<ngx-spinner bdOpacity=1 bdColor="rgba(200, 216, 215, 0.25)" size="medium" color="rgba(12,11,11,0.85)" type="ball-clip-rotate-pulse" [fullScreen]="true">
    <p style="color: white">Loading..</p>
</ngx-spinner>