<app-navbar> </app-navbar>

<br>
<br>

<div class="container">
<div class="row" style="padding-top: 50px;">
    <div class="col-lg-4 col-xl-4">
        <div class="card-box text-center">
            <img [src]="employercompanyimage!=null?'data:image/jpeg;base64,'+employercompanyimage:'assets/user.png'" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

            <!-- <h4 class="mb-0">Nik G. Patel</h4>
            <p class="text-muted">@webdesigner</p>

            <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Follow</button>
            <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Message</button> -->

            <div class="text-left mt-3">
                <h4 class="font-13 text-uppercase">Employer Details:</h4>
                <p class="text-muted font-13 mb-3">
                    Hi I'm {{employercompanyName}} ,here is my tender request to you ! Bring me some skillfull indiviuals .
                </p>
                <p class="text-muted mb-2 font-13"><strong>Company Name :</strong> <span class="ml-2">{{employercompanyName}}</span></p>

                <!-- <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ml-2">(123)
                        123 1234</span></p> -->

                <p class="text-muted mb-2 font-13"><strong> Employer Email :</strong> <span class="ml-2 ">{{employercompanyemail}}</span></p>

               
            </div>
        </div> <!-- end card-box -->

        <!-- <div class="card-box">

        </div> -->
         <!-- end card-box-->

    </div> <!-- end col-->

    <div class="col-lg-8 col-xl-8">
        <div class="card-box">

           
            <ul class="nav nav-pills navtab-bg" *ngIf="userType=='recruiter' && !btnApplied">
                <li class="nav-item" >
                    <a (click)="acceptOrDeclineTender(true)"   aria-expanded="true" class="nav-link ml-0 active">
                        <i class="mdi mdi-face-profile mr-1"></i><span *ngIf="tenderobj.tenderType=='private'">Accept</span> 
                        <span *ngIf="tenderobj.tenderType=='public'">Apply</span> 
                    </a>
                </li>
                <li class="nav-item">
                    <a   (click)="acceptOrDeclineTender(false)" [class.disabled]="btnApplied" aria-expanded="false" class="nav-link">
                        <i class="mdi mdi-settings-outline mr-1"></i>Decline
                    </a>
                </li>
            </ul>


            <div class="tab-content">
                
                <div class="tab-pane show active" id="about-me">

                    <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                        Tender Details</h5>
                        <div *ngIf="btnApplied || userType !='recruiter'"><hr>
                            <br></div>
                        
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6">
                                    <p class="text-muted mb-2 font-13"><strong>Role :</strong> <span class="ml-2">{{tenderobj.role? tenderobj.role:'N/A'}}</span></p>
                                </div>
                                <div class="col-lg-4 col-xl-4 col-md-3 col-sm-6">
                                        <p class="text-muted mb-2 font-13"><strong>Description :</strong> <span class="ml-2">{{tenderobj.description? tenderobj.description:'N/A'}}</span></p>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 col-md-3 col-sm-6">
                                            <p class="text-muted mb-2 font-13"><strong>Salary :</strong> <span class="ml-2">{{tenderobj.salary?tenderobj.salary:'N/A'}}</span></p>
                                        </div>
                                        
                            </div>
                            <div class="row">
                                    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                            <p class="text-muted mb-2 font-13"><strong>Interview start date :</strong> <span class="ml-2">{{tenderobj.interviewStartDate?tenderobj.interviewStartDate:'N/A'}}</span></p>
                                        </div>
                                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                <p class="text-muted mb-2 font-13"><strong>Interview end date :</strong> <span class="ml-2">{{tenderobj.interviewEndDate?tenderobj.interviewEndDate:'N/A'}}</span></p>
                                            </div>
                                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                    <p class="text-muted mb-2 font-13"><strong>Country :</strong> <span class="ml-2">{{tenderobj.country? tenderobj.country:'N/A'}}</span></p>
                                                </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                <p class="text-muted mb-2 font-13"><strong>City :</strong> <span class="ml-2">{{tenderobj.city? tenderobj.city:'N/A'}}</span></p>
                                            </div>
                                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                    <p class="text-muted mb-2 font-13"><strong>Province :</strong> <span class="ml-2">{{tenderobj.province? tenderobj.province:'N/A'}}</span></p>
                                                </div>
                                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                        <p class="text-muted mb-2 font-13"><strong>Category:</strong> <span class="ml-2">{{tenderobj.category? tenderobj.category:'N/A'}}</span></p>
                                                    </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                    <p class="text-muted mb-2 font-13"><strong>Type :</strong> <span class="ml-2">{{tenderobj.type? tenderobj.type:'N/A'}}</span></p>
                                                </div>
                                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                        <p class="text-muted mb-2 font-13"><strong>Address :</strong> <span class="ml-2">{{tenderobj.address? tenderobj.address:'N/A'}}</span></p>
                                                    </div>
                                                    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                            <p class="text-muted mb-2 font-13"><strong>Is active:</strong> <span class="ml-2"> Active</span></p>
                                                        </div>

                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1">
                                                </div> -->
                                                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                        <p class="text-muted mb-2 font-13"><strong>Interview start timing :</strong> <span class="ml-2">{{tenderobj.interviewStartTiming? tenderobj.interviewStartTiming:'N/A'}}</span></p>
                                                    </div>
                                                    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                                                            <p class="text-muted mb-2 font-13"><strong>Interview end timing :</strong> <span class="ml-2">{{tenderobj.interviewEndTiming? tenderobj.interviewEndTiming:'N/A'}}</span></p>
                                                        </div>
                                                        <!-- <div class="col-lg-1 col-xl-1 col-md-1 col-sm-1">
                                                            </div> -->
                                            </div>


                    <!-- <ul class="list-unstyled timeline-sm">
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2015 - 19</span>
                            <h5 class="mt-0 mb-1">Lead designer / Developer</h5>
                            <p>websitename.com</p>
                            <p class="text-muted mt-2">Everyone realizes why a new common language
                                would be desirable: one could refuse to pay expensive translators.
                                To achieve this, it would be necessary to have uniform grammar,
                                pronunciation and more common words.</p>

                        </li>
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2012 - 15</span>
                            <h5 class="mt-0 mb-1">Senior Graphic Designer</h5>
                            <p>Software Inc.</p>
                            <p class="text-muted mt-2">If several languages coalesce, the grammar
                                of the resulting language is more simple and regular than that of
                                the individual languages. The new common language will be more
                                simple and regular than the existing European languages.</p>
                        </li>
                        <li class="timeline-sm-item">
                            <span class="timeline-sm-date">2010 - 12</span>
                            <h5 class="mt-0 mb-1">Graphic Designer</h5>
                            <p>Coderthemes LLP</p>
                            <p class="text-muted mt-2 mb-0">The European languages are members of
                                the same family. Their separate existence is a myth. For science
                                music sport etc, Europe uses the same vocabulary. The languages
                                only differ in their grammar their pronunciation.</p>
                        </li>
                    </ul> -->

                    <!-- <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                        Projects</h5> -->
                    <!-- <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Project Name</th>
                                    <th>Start Date</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th>Clients</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>App design and development</td>
                                    <td>01/01/2015</td>
                                    <td>10/15/2018</td>
                                    <td><span class="badge badge-info">Work in Progress</span></td>
                                    <td>Halette Boivin</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Coffee detail page - Main Page</td>
                                    <td>21/07/2016</td>
                                    <td>12/05/2018</td>
                                    <td><span class="badge badge-success">Pending</span></td>
                                    <td>Durandana Jolicoeur</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Poster illustation design</td>
                                    <td>18/03/2018</td>
                                    <td>28/09/2018</td>
                                    <td><span class="badge badge-pink">Done</span></td>
                                    <td>Lucas Sabourin</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Drinking bottle graphics</td>
                                    <td>02/10/2017</td>
                                    <td>07/05/2018</td>
                                    <td><span class="badge badge-purple">Work in Progress</span></td>
                                    <td>Donatien Brunelle</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Landing page design - Home</td>
                                    <td>17/01/2017</td>
                                    <td>25/05/2021</td>
                                    <td><span class="badge badge-warning">Coming soon</span></td>
                                    <td>Karel Auberjo</td>
                                </tr>

                            </tbody>
                        </table>
                    </div> -->

                </div>
                <!-- end timeline content-->

               
                <!-- end settings content-->

            </div> <!-- end tab-content -->
        </div> <!-- end card-box-->

    </div> <!-- end col -->
    
</div>

</div>
