

/* .btnNav{
    margin-left:10px;
} */

#myMap{
    width: 100%;
    height: 500px;
}
svg {
    fill: #0f0;
    width: 10px;
  }
.example-full-width{
    width: 100%;
}


input {
    font-size: 12px !important;
}

input::-webkit-input-placeholder {
    font-size: 12px !important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 12px !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 12px !important;
  }
