<!--Navbar Code  -->

<nav class="navbar navbar-light bg-light"
    style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">


    <div class="row" style="width:100%">

        <div class="col-lg-2 offset-lg-1">
            <a class="navbar-brand mb-0 h3" href="#"
                style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 600;">
                Job Portal</a>
        </div>

        <div class="col-lg-4">
            <button class="btnNav" mat-stroked-button>
                Back
            </button>

            <button class="btnNav" [routerLink]="['/employee/myjobs']" mat-stroked-button>
                My Jobs

            </button>
            <button class="btnNav" [routerLink]="['/employee/postjob']" mat-stroked-button>
                Post Job

            </button>


            <button class="btnNav" [routerLink]="['/employee/alljobs']" mat-stroked-button>All Jobs</button>

        </div>

        <div class="col-lg-4">

        </div>
        <div class="col-lg-1">
            <img src="assets/icons8-logout-rounded-left-24.png" alt="">
        </div>
        <!-- <div class="col-lg-2 offset-lg-1">

            <img src="../../assets/1622452.png" height="33" width="57">
        </div> -->
    </div>
</nav>
<br>
<!-- Navbar code ends -->


<!-- carrd -->
<div class="container" style="margin-top: 5px;">
    <div class="row">
        <div class="col-lg-12">
            <mat-card [class.mat-elevation-z8]="true">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;margin-top:5px;">
                        <h1 style="font-size:38px;font-weight: bold;font-family:monospace;">POST A JOB</h1>
                    </div>
                    <div class="col-lg-12" style="margin-top: 10px;">
                        <form #myform="ngForm" (ngSubmit)="submitJob(myform.value)" class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <mat-form-field style="width: 100%;" appearance="legacy">
                                    <mat-label>Job Title</mat-label>
                                    <input required name="title" ngModel matInput placeholder="Enter the job title">

                                </mat-form-field>
                            </div>
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-lg-8">
                                        <mat-form-field style="width:100%">
                                            <mat-label>Choose field</mat-label>
                                            <mat-select required ngModel name="field">
                                                <mat-option *ngFor="let f of fields" [value]="f.value">
                                                    {{f.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;" appearance="legacy">
                                            <mat-label>Salary</mat-label>
                                            <input required name="salary" ngModel matInput
                                                placeholder="Enter job salary">

                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1">
                                <mat-form-field style="width: 100%;margin-top: 15px;" appearance="legacy">
                                    <mat-label>Description</mat-label>
                                    <textarea required name="description" ngModel matInput
                                        placeholder="Enter job Description">
                                        </textarea>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-10 offset-lg-1">

                                <p>Job Location:</p>

                                <mat-card [class.mat-elevation-z4]="true">
                                    <!-- <agm-map [longitude]="longitude" [latitude]="latitude">
                                       
                                    </agm-map> -->
                                    <div id="myMap"></div>

                                </mat-card>
                            </div>
                            <div class="col-lg-10 offset-lg-1" style="margin-top:10px;">
                                <button [disabled]="myform.invalid" type="submit" style="width: 100%;" mat-raised-button
                                    color="primary">Post Job</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>