.btnNav {
  margin-left: 10px;
}

#myMap {
  width: 100%;
  height: 500px;
}

.ant-rate {
  font-size: 12px !important;
}

img {
  cursor: pointer;
}

#imgFile {
  display: none;
}

.btn,
.fileButton {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 13px;
}

label[_ngcontent-xet-c379] {
  background: white !important;
}

.options {
  padding: 0px 35px 0px 41px
}

/* 
image-cropper {
  height: 50vh;
} */

.fa-cross {
  float: left;
  padding: 10px;
  color: white;
}

.fa-plus,
.fa-minus {
  padding: 14px;
  background-color: lightgray;
  cursor: pointer;
}

/* 
.fa-plus,
.fa-minu:hover {
  background-color: #80808024;
} */


.modal-title {
  color: white;
}

.modal-header {
  background-color: black !important;
  color: white !important;
}

/* * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.example-form {
  min-width: 150px;
  /* max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-label {
  font-size: 1.1em;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}




/* label {
  padding: 5px;
  background: grey;
  display: table;
  color: #fff;
} */

.navbar {
  justify-content: start !important;
}

.example-card {
  max-width: 100%;
  margin-left: 4%;

  border: 12px solid #85b2f729;


}

.example-header-image {
  background-image: url('../../assets/info.png');
  background-size: cover;
}

mat-card-title {
  margin-top: 3%;
  font-size: 14px;
  margin-bottom: 0px !important;
}

@media only all and (max-width:43.75em) {

  .breakLines,
  .container {
    margin-bottom: 8%;
  }
}


.mat-card-avatar {
  height: 28px;
  width: 28px;
}

.companyLogo {
  margin-top: 3%;
}

.viewProfileLink {
  padding-left: 45px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 18px;
  border-radius: 50%;
  background: lightseagreen;
  cursor: pointer;
}
