<app-navbar></app-navbar>
<br>

<div class="container">

  <div class="row">

    <div class="col-lg-4 offset-lg-4">

      <!-- Card -->
      <div class="card profile-card">

        <!-- Avatar -->
        <div class="avatar z-depth-1-half mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
            class="rounded-circle"
            alt="First sample avatar image">
        </div>


        <div class="card-body pt-0 mt-0">
          <!-- Name -->
          <div class="text-center">
            <h3 class="mb-3 font-weight-bold"><strong></strong></h3>
            <h6 class="font-weight-bold blue-text mb-4"></h6>
          </div>

          <ul class="striped list-unstyled">
            <li><strong>E-mail address:</strong></li>

            <li><strong>Phone number:</strong> +1 234 5678 90</li>

            <li><strong>Company:</strong> The Company, Inc</li>

            <li><strong>Twitter username:</strong> @anna.doe</li>

            <li><strong>Instagram username:</strong> @anna.doe</li>
          </ul>

          <div class="row;"style="width:100%">
            <div class="col-lg-11 offset-lg-1">
             
                <button mdbBtn
                type="button"
                color="unique"
                mdbWavesEffect>Download Resume</button>
            </div>

          </div>
        </div>

      </div>
      <!-- Card -->

    </div>
  </div>
</div>
<br>
<br>
<br>

<app-footer></app-footer>