  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <!-- Search form -->
        <div class="md-form mt-0">
          <input id="one"
            style="width: 100%"
            type="text"
            (keyup)="search($event.target.value)"
            placeholder="Search"
            aria-label="Search">
        </div>
      </div>



    </div>

    <div class="scroll">
      <div class="row"
        *ngFor="let candidateObj of candidatesArrays">
        <div class="col-md-6 searchList"
          style="padding-right:5px; padding-left:5px;">

          <img [src]="candidateObj.dp!=null?'data:image/jpeg;base64,'+candidateObj.dp:'../../assets/user.png'"
            class="img-thumbnail"
            width="48" />

          <p style="display: inline-block;padding: 10px;font-weight: bold">{{candidateObj.name}}</p>
        </div>


      </div>
    </div>
