<app-navbar></app-navbar>
<br>
<br>
<div class="container"
  style="margin-top: 5px;">
  <mat-card [class.mat-elevation-z8]="true">
   
    <mat-horizontal-stepper  #stepper>
      <mat-step>
        <form >
          <ng-template matStepLabel>Personel Information</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Fill out your address">
        <form>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    
      </mat-card>
  </div>
