<div class="chat_box">
  <div class="chat_header">

    <span>
      <h3 class="chat_heading"
        style="margin-bottom: -14px">Contacts</h3>
      <i style="display:flex;justify-content:flex-end"
        class="fa fa-circle"></i>
    </span>

  </div>
  <hr />





  <div class="chat_content"
    data-simplebar>

    <div class="scroll" >
      <div class="user">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon" />
        <h3 class="username">Kamal Teja</h3>
        <i class="fa fa-circle"></i>
      </div>
      <br>
      <div class="user">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon" />
        <h3 class="username">Muhammad Amer</h3>
        <i class="fa fa-circle"></i>
      </div>
      <br>
      <div class="user">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon" />
        <h3 class="username">Muhammad Ibrahim</h3>
        <i class="fa fa-circle"></i>
      </div>
      <br>
      <div class="user">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon" />
        <h3 class="username">Wajeeha Javed</h3>
        <i class="fa fa-circle"></i>
      </div>
      <br>
      <div class="user">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon" />
        <h3 class="username">Asad Ummu</h3>
        <i class="fa fa-circle"></i>
      </div>
      <br>
    </div>

  </div>
</div>





<!-- Message box -->
<div class="message_box">
  <div class="message_header">
    <img
      src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
      class="user_icon" />
    <h3 class="username">Kamal Teja</h3>
    <i class="fa fa-times close"></i>
  </div>
  <hr />
  <div class="message_content">
    <div class="messages">
      <div class="p1">
        <img
          src="https://cdn4.vectorstock.com/i/1000x1000/84/68/hipster-man-in-glasses-avatar-profile-userpic-on-vector-8988468.jpg"
          class="user_icon_small" />
        <p>This message is from him</p>
      </div>
      <div class="p2">
        <p>This is from ME</p>
      </div>
      <div class="new_messages p2"></div>
    </div>

    <div class="input_box">
      <textarea class="message_input"
        placeholder="Type a message..."></textarea>
      <i class="fa fa-location-arrow enter"></i>
    </div>
  </div>
</div>
