<nav class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">
  <a class="navbar-brand mb-0 h3" href="#"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 600;">
    Job Portal</a>
  <div style="margin-right: 30%;">

    <button mat-stroked-button>All Jobs</button>
    &nbsp;

    <button [routerLink]="['/candidateProfile']" mat-stroked-button>
      Profile
    </button>
    &nbsp;
    <button (click)="goBack()" mat-stroked-button>
      Back
    </button>
  </div>
  <div style="margin-right: 1%;" style="cursor: pointer;">
    <img (click)="logout()" src="assets/icons8-logout-rounded-left-24.png" alt="">
  </div>
  <div class="row" style="float: right; margin-right: 1%;">
    <img src="../../assets/1622452.png" height="33" width="57">
  </div>
</nav>
<br>
<!-- Navbar code ends -->


<!-- ALL JOBS -->


<div class="container-fluid">
  <mat-card style="border-radius: 0px;">
    <div style="width:100%;height:350px" id="myMap"></div>
  </mat-card>

  <hr />
  <form class="row">


    <div class="form-group" style="margin-left:10px;">
      <label style="color: #0069D9;background: white;margin: 0px;" for="exampleFormControlInput1">You are
        searching</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search here">
    </div>



    <div class="form-group" style="margin-left:10px;">
      <label style="color: #0069D9;background: white;margin: 0px;" for="exampleFormControlInput1">In</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter the city name">
    </div>
    <div class="form-group" style="margin:30px 0px 0px 10px;">
      <button type="button" style="height:38px;" class="btn btn-primary">Search</button>
    </div>

  </form>
  <hr style="margin-top: 0px;" />

  <!-- JOBS CAT AND JOBS -->
  <div class="row">

    <!--JOB FIELDS -->
    <div class="col-lg-3">
      <mat-card style="height:630px;border-radius: 0px;margin-bottom:10px;">
        <h2>Categories</h2>
        <hr />
        <p class="hoverable" (click)="getPaginatedJobs(0)">All</p>
        <p class="hoverable" (click)="getJobsByCategory('Business & Finance')">Business & Finance</p>
        <p class="hoverable" (click)="getJobsByCategory('Computers & Technology')">Computers & Technology</p>
        <p class="hoverable" (click)="getJobsByCategory('Contruction Trades')">Contruction Trades</p>
        <p class="hoverable" (click)="getJobsByCategory('Education, Teaching & Training')">Education, Teaching &
          Training</p>
        <p class="hoverable" (click)="getJobsByCategory('Engineering & Engineering Technicians')">Engineering &
          Engineering Technicians</p>
        <p class="hoverable" (click)="getJobsByCategory('Fishing, Farming & Forestry')">Fishing, Farming & Forestry</p>
        <p class="hoverable" (click)="getJobsByCategory('Legal, Criminal Justice & Law Enforcement')">Legal, Criminal
          Justice & Law Enforcement</p>

        <p class="hoverable" (click)="getJobsByCategory('Management')">Management</p>
        <p class="hoverable" (click)="getJobsByCategory('Media Communications & Broadcasting')">Media Communications &
          Broadcasting</p>
        <p class="hoverable" (click)="getJobsByCategory('Military & Armed Forces')">Military & Armed Forces</p>
        <p class="hoverable" (click)="getJobsByCategory('Office Administration & Management')">Office Administration &
          Management</p>
        <p class="hoverable" (click)="getJobsByCategory('Production & Manufacturing')">Production & Manufacturing</p>
        <p class="hoverable" (click)="getJobsByCategory('Installation, Repair & Maintenance')">Installation, Repair &
          Maintenance</p>
        <p class="hoverable" (click)="getJobsByCategory('Sales & Marketing')">Sales & Marketing</p>
        <p class="hoverable" (click)="getJobsByCategory('Social & Life Sciences')">Social & Life Sciences</p>
        <p class="hoverable" (click)="getJobsByCategory('Transportation & Moving')">Transportation & Moving</p>
      </mat-card>
    </div>
    <div class="col-lg-9">
      <div class="row">

        <div *ngFor="let job of allJobs | paginate: { id: 'foo',
        itemsPerPage: itemsPerPage,
        currentPage: page,totalItems: total }" (click)="routeToJobDetailsComponent(job.id)" class="col-lg-12"
          style="margin-bottom:10px;">
          <mat-card
            style="height: 155px;background-color:#F2F2F2;border-radius: 0px;display: flex;justify-content: space-between;">
            <div style="flex:4;">
              <h2 style="font-weight:500; color: #489ceb;margin: 0px;">{{job.title}}</h2>
              <h3 style="font-weight:500;margin: 0px;">{{job.category}} - <span
                  style="color:rgb(129, 126, 126);">{{job.city}}</span></h3>
              <p style="margin-bottom:5px;">{{job.description}}.</p>
              <p style="color: rgb(146, 144, 144);;">2 days ago</p>
            </div>

            <!-- ICON -->
            <div style="align-items: flex-end;display:flex;flex-direction: column;align-items: center;">
              <nz-avatar [nzSize]="64" nzIcon="user" style="background-color:#62a9ec;display:block;margin-bottom:10px;">
              </nz-avatar>
              <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>

            </div>
          </mat-card>
        </div>



        <!-- //PAGINATION -->
        <div class="col-lg-12" style="margin:10px 0px 30px 0px;">
          <div class="has-text-centered">
            <pagination-controls id="foo" (pageChange)="pageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>