body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    overflow: hidden;
  }


  form{
    box-shadow: 0px 20px 20px 3px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  nz-select{
    width: 100%;
  }
  .bg-img {
    /* The image used */
    background-image: url("../../assets/findJob.jpg");
  
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  /* nz-select {
      width: 200px;
    } */
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 30px;
    max-width: 350px;
    padding: 14px;
    height: 100%;
    background-color: white;
    /* border-style: ridge; */
    /* box-shadow:0px 5px 5px rgb(179, 179, 179); */
    /* box-shadow: 0 0 60px #e2e2e2; */
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 20px;

    margin: 3px 0 10px 0;
    border: none;
    background: #f1f1f1;
    height: 30px;
    border-radius: 20px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 16px 20px;
    /* border: none; */
    /* cursor: pointer; */
    /* width: 100%; */
    /* opacity: 0.9; */
  }
  
  .btn:hover {
    opacity: 1;
  }


  @media screen and (orientation:portrait) {
    .bg-img {
       background-image: none;
       background-color: black
    }
  }
  @media all and (max-color: 4) {
    .bg-img {
       background-image: none;
      
    }
  }

@media only all and (max-width:43.75em) {
  .bg-img {
    background-image: none;
    background-color: black
  }
}

  

  