<!--Navbar Code  -->

<nav class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">


  <div class="row"
    style="width:100%">

    <div class="col-lg-2 offset-lg-1">
      <a class="navbar-brand mb-0 h3"
        href="#"
        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 600;">
        Job Portal</a>
    </div>

    <div class="col-lg-1">
      <button (click)="goBack()"
        mat-stroked-button>
        Back
      </button>
    </div>

    <div class="col-lg-1">
      <button [routerLink]="['/candidateProfile']"
        mat-stroked-button>
        Profile

      </button>
    </div>
    <div class="col-lg-1">
      <div *ngIf="allJobsbtn">
        <button mat-stroked-button
          [routerLink]="['/allJobs']">All Jobs</button>
      </div>
    </div>


    <div class="col-lg-1 offset-lg-3">
      <img (click)="logout()"
        src="assets/icons8-logout-rounded-left-24.png"
        alt="">
    </div>
    <div class="col-lg-1 offset-lg-1">

      <img src="../../assets/1622452.png"
        height="33"
        width="57">
    </div>
  </div>
</nav>
<br>
<!-- Navbar code ends -->


<!-- Profile Code -->

<div class="container">

  <div class="row">

    <div class="col-lg-2 offset-lg-1 col-sm-10 col-md-3 offset-md-2 offset-sm-2">
      <img [src]="candidateObj.dp!=null?'data:image/jpeg;base64,'+candidateObj.dp:'../../assets/user.png'"
        alt="Avatar"
        class="avatar" />
      <label style="background-color:#3f51b5;font-size: 0.9em;margin-top: 5%;cursor: pointer;padding: 11px">Select
        Picture
        <input type="file"
          id="imgFile"
          (change)="onImageChange($event)"
          style="margin-left: 40%; " />
      </label>
    </div>

    <div class="col-md-7">
      <mat-card>
        <form class="example-form"
          #myForm="ngForm">
          <h2>Update Profile</h2>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input style="width: 100%;"
                  matInput
                  placeholder="Name"
                  name="name"
                  [(ngModel)]="candidateObj.name"
                  required />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input style="width: 100%;"
                  matInput
                  [(ngModel)]="candidateObj.email"
                  placeholder="Email"
                  name="email"
                  required />
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Choose Field</mat-label>
                <mat-select name="field"
                  [(ngModel)]="candidateObj.field"
                  required>
                  <mat-option *ngFor="let f of fields"
                    [value]="f.value">
                    {{ f.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Presenation letter</mat-label>
                <textarea matInput
                  style="margin-top: -2px;
                    margin-bottom: -2px;
                    height: 63px;
                    "
                  name="presentationLetter"
                  placeholder="Enter your presenation letter"
                  required
                  [(ngModel)]="candidateObj.presentationLetter"></textarea>
              </mat-form-field>
            </div>
          </div>



          <br>

          <!-- File upload goes down -->
          <div class="row">

            <div class="col-lg-4 col-sm-12 col-md-3"
              style="margin-left:2px">

              <label
                style="text-align: center;background-color:#3f51b5;font-size: 0.9em;cursor: pointer;width:100%">{{labelText}}
                <input type="file"
                  name="myfile"
                  id="imgFile"
                  (change)="onFileChange($event)" />
              </label>


            </div>
            <div class="col-4">

              <div *ngIf="candidateObj.cv">
                <a style="cursor: pointer;color: crimson;"
                  (click)="downloadFile()">
                  Download resume
                </a>
              </div>

            </div>
          </div>
          <br>
          <br>


          <div class="row">
            <div class="col-lg-5 offset-lg-3">
              <button mat-raised-button
                style="width:100%"
                [disabled]="formValidation()"
                (click)="updateProfile()"
                color="primary">
                Save
              </button>

            </div>

          </div>



        </form>
      </mat-card>
    </div>



  </div>



</div>
