<app-navbar></app-navbar>
<br>
<br>
<br>

<!-- Profile Code -->

<div class="container">

  <div class="row">

    <div class="col-lg-2 offset-lg-1 col-sm-10 col-md-3 offset-md-2 offset-sm-1">
      <div class="file-field">
        <div class="mb-3">
          <img [src]="candidateObj.dp!=null?'data:image/jpeg;base64,'+candidateObj.dp:'../../assets/user.png'"
            class="rounded-circle z-depth-1-half avatar-pic avatar" alt="example placeholder avatar">
        </div>
        <div class="d-flex justify-content-center">
          <div style="background-color: black !important" class="btn btn-mdb-color btn-rounded float-left">
            <span>Add photo</span>
            <input type="file" (change)="onImageChange($event)">
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7">
      <mat-card>
        <form class="example-form" #myForm="ngForm">
          <h2>Update Profile</h2>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input style="width: 100%;" matInput [(ngModel)]="candidateObj.name" placeholder="Name" name="name"
                  required />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input style="width: 100%;" matInput [(ngModel)]="candidateObj.email" placeholder="Email" name="email"
                  required />
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Choose Field</mat-label>
                <mat-select name="field" [(ngModel)]="candidateObj.field" required>
                  <mat-option *ngFor="let f of fields" [value]="f.value">
                    {{ f.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Presentation letter</mat-label>
                <textarea matInput style="margin-top: -2px;
                    margin-bottom: -2px;
                    height: 63px;
                    " name="presentationLetter" placeholder="Enter your presenation letter" required
                  [(ngModel)]="candidateObj.presentationLetter">

                </textarea>
              </mat-form-field>
            </div>
          </div>



          <br>

          <!-- File upload goes down -->
          <div class="row">

            <div class="col-lg-5 offset-lg-1 col-sm-12 col-md-6" style="margin-top: 5px;">

              <label class="fileButton">{{labelText}}
                <input class="btn" accept=".pdf,.docx,.doc" type="file" name="myfile" id="imgFile"
                  (change)="onFileChange($event)" />
              </label>


            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">


              <div *ngIf="candidateObj.cv">
                <a>
                  <button (click)="showModal()" class="btn" style="width:100%"><i class="fa fa-download"></i> Preview
                    Resume</button>
                  <span>{{candidateObj?candidateObj.name +"."+candidateObj.resumeContentType :''}}</span>
                </a>


              </div>

            </div>
          </div>
          <br>
          <br>



          <div class="row">
            <div class="col-lg-5 offset-lg-3">
              <button style="width:100%" [disabled]="formValidation()" (click)="updateProfile()" class="btn">
                Save
              </button>

            </div>

          </div>



        </form>
      </mat-card>
    </div>



  </div>



</div>

<!-- //MODAL -->
<nz-modal style="overflow:hidden" [(nzVisible)]="isVisible" [nzFooter]="null" [nzClosable]="false"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <!-- <iframe  [src]="sanitizer.bypassSecurityTrustResourceUrl(cv)" width="100%" height="400" frameBorder="0"></iframe> -->
  <ngx-doc-viewer *ngIf="candidateObj.resumeContentType!='doc'" [url]="cv"
    [viewer]="candidateObj.resumeContentType=='pdf' ? 'pdf' : 'mammoth'"
    [ngStyle]="candidateObj.resumeContentType!='pdf'?{'width':'100%','height':'65vh','overflow':'scroll'}:{'width':'100%','height':'65vh'}">
  </ngx-doc-viewer>
  <div *ngIf="candidateObj.resumeContentType=='doc'"
    style="height:200px;display: flex;justify-content: center;align-items: center;">
    <p>Preview not available</p>
  </div>
  <button (click)="downloadFile()" class="btn" style="width:45%;margin-left:5%;"><i class="fa fa-download"></i>
    Download</button>
  <button (click)="handleCancel()" class="btn" style="width:45%;"><i class="fa fa-times"></i> Cancel</button>
</nz-modal>

<br>
<br>
<br>
<app-footer></app-footer>